//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-height: rem(45);
	padding: rem(10) rem(19);
	font-weight: 700;
	font-size: rem(10);
	line-height: math.div(12, 10);
	letter-spacing: 0.15em;
	color: $whiteText;
	background-color: $accentColor;
	border-radius: rem(80);
	transition: all 0.3s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			background-color: darken($accentColor, 10%);
		}
	}
	&._fw {
		width: 100%;
	}
}
